################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/roulette/.vs/roulette/config
