################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/roulette/.vs/roulette/config
/roulette/.vs/slnx.sqlite
/roulette/.vs/ProjectSettings.json
/roulette/.vs/roulette/v16
/roulette/vendor
